<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/pico.css">
    <link rel="stylesheet" href="static/css/styles.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />    <title>Crypto Dance: {{pageTitle}}</title>
</head>
<body class="container">

    <header class="container">
        <div class="headings">
            
            <h1>CryptoDance App&reg; <img style="width: 2.5em;" src="static/img/money_dance_gradient.png" alt="app logo"></h1>
            <cite>Registro de inversiones y compra/venta de criptomonedas</cite>
          </div>
           
    </header>
    <article>
    <section>
    {% block section %}
    {% endblock %}

    </section>
    
</body>
</article>

<footer class="small">
       <p>&copy2023 | Aplicación Web realizada por Víctor Martínez Segura</pl> 
</footer>


</html>