{% extends "base.html"%}
{%block section%}
<nav>
    <ul>
        <li>Inicio</li>|
        <li><a href="/purchase">Compra</a></li>|
        <li><a href="/status">Estado</a></li>
      </ul>


</nav>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            
            {% for message in messages %}
            <p class="purple_strong">{{ message }}</p>
            {% endfor %}
            
        {% endif %}
    {% endwith %}

<h4>Lista de movimientos</h4>
{% if data %}
<figure>
        <table role="grid">
            <thead>
                <tr>
                    <th class="columna">Fecha</th>
                    <th class="columna">Hora</th>
                    <th class="columna">Moneda entregada</th>
                    <th class="columna">Cantidad</th>
                    <th class="columna">Moneda recibida</th>
                    <th class="columna">Cantidad</th>
                    <th class="columna">Precio Unitario</th>
                </tr>
            </thead>
            <tbody>
                {% for registros in data %}
                <tr style="font-size: medium;">
                    <td>{{registros.Date}}</td>
                    <td>{{registros.Time}}</td>
                    <td>{{registros.moneda_from}}</td>
                    <td>{{registros.cantidad_from}}</td>
                    <td>{{registros.moneda_to}}</td>
                    <td>{{registros.cantidad_to}}</td>
                    <td>{{registros.Precio_Unitario}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </figure>
{% else %}
<p>No existen movimientos...</p>
{% endif %}
{%endblock%}