{% extends "base.html"%}
{%block section%}
<nav>
    <ul>
        <li>Inicio</li>|
        <li><a href="/purchase">Compra</a></li>|
        <li><a href="/status">Estado</a></li>
      </ul>
</nav>
<h3>Lista de movimientos</h3>
{% if data %}
        <table role="grid">
            <thead>
                <tr>
                    <th class="columna">Fecha</th>
                    <th class="columna">Hora</th>
                    <th class="columna">Moneda_from</th>
                    <th class="columna">Cantidad_from</th>
                    <th class="columna">Moneda_to</th>
                    <th class="columna">Cantidad_to</th>
                    <th class="columna">Precio Unitario</th>
                </tr>
            </thead>
            <tbody>
                {% for registros in data %}
                <tr>
                    <td>{{registros.Date}}</td>
                    <td>{{registros.Time}}</td>
                    <td>{{registros.moneda_from}}</td>
                    <td>{{registros.cantidad_from}}</td>
                    <td>{{registros.moneda_to}}</td>
                    <td>{{registros.cantidad_to}}</td>
                    <td>{{registros.Precio_Unitario}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
{% else %}
<p>No existen movimientos...</p>
{% endif %}
{%endblock%}