{% extends "base.html"%}
{%block section%}

<h3>Aquí se podrá comprar, intercambiar o vender</h3>
<div class="grid">
    <details role="list">
        <summary aria-haspopup="listbox">From</summary>
            <ul role="listbox">
                <li><a>EUR</a></li>
                <li><a>BTC</a></li>
                <li><a>ETH</a></li>
                <li><a>USDT</a></li>
                <li><a>BNB</a></li>
                <li><a>XRP</a></li>
                <li><a>ADA</a></li>
                <li><a>DOT</a></li>
                <li><a>MATIC</a></li>
            </ul>
    </details>
    <details role="list">
        <summary aria-haspopup="listbox">To</summary>
            <ul role="listbox">
                <li><a>EUR</a></li>
                <li><a>BTC</a></li>
                <li><a>ETH</a></li>
                <li><a>USDT</a></li>
                <li><a>BNB</a></li>
                <li><a>XRP</a></li>
                <li><a>ADA</a></li>
                <li><a>DOT</a></li>
                <li><a>MATIC</a></li>
            </ul>
    </details>
</div>
{%endblock%}