{% extends "base.html"%}
{%block section%}
<nav>
    <ul>
        <li><a href="/">Inicio</a></li>|
        <li>Compra</li>|
        <li><a href="/status">Estado</a></li>
      </ul>
</nav>
<h3>Compra/venta de criptomonedas</h3>


<form action="/purchase" method="POST">
    {{ dataForm.csrf_token }}
    <div class="bloque_venta">
    {{ dataForm.moneda_from.label }}
    {{ dataForm.moneda_from }}    
    </div>
   
    <div class="bloque_venta">
    {{ dataForm.moneda_to.label }}
    {{ dataForm.moneda_to }}   
    </div>
    <div class="bloque_venta">
      {{ dataForm.cantidad_from.label }}
      {{ dataForm.cantidad_from(placeholder="Ingrese cantidad") }}
      </div>

      {{dataForm.calcular}}
    
      {% if dataForm.calcular.data %}
      {% block content %}
      <article>
      <hgroup>
      <h5>Cambio:</h5> 
      <h6>1 <span class="purple">{{moneda_from}}</span> vale {{ rate }} <span class="purple">{{moneda_to}}</span></h6>
      </hgroup>
      <hgroup>
      <h5>Cantidad:</h5> 
      <h6><span class="purple">{{moneda_to}}</span> a recibir por {{cantidad}} <span class="purple">{{moneda_from}}</span>: {{ cantidad_to }}</h6>
      </hgroup>
      <hgroup>
    <h5>Precio Unitario:</h5>
    <h6>1 <span class="purple">{{moneda_to}}</span> vale {{ precio_unitario }} <span class="purple">{{moneda_from}}</span></h6>
    </hgroup>
      </article>
      {% endblock content %}
      {% endif %}
    {{ dataForm.submit }}
    
</form>


{%endblock%}