{% extends "base.html"%}
{%block section%}
<nav>
    <ul>
        <li><a href="/">Inicio</a></li>|
        <li><a href="/purchase">Compra</a></li>|
        <li>Estado</li>|
        <li><a href="/wallet">Cartera</a></li>
      </ul>
</nav>


<h4>Estado de la inversión</h4>
   
<article style="text-align: center;">

  <hgroup style="display: inline-block; margin: 1.5em">
    <h5>Invertido</h5>
    <h6><span class="purple">{{invertido}}</span>€</h6>
    </hgroup>

    <hgroup style="display: inline-block; margin: 1.5em">
      <h5>Recuperado</h5> 
      <h6><span class="purple">{{recuperado}}</span>€</h6>    
    </hgroup>

    <hgroup style="display: inline-block; margin: 1.5em">
      <h5>Valor de compra</h5> 
      <h6><span class="purple">{{valorCompra}}</span>€</h6>
    </hgroup>

    <hgroup style="display: inline-block; margin: 1.5em">
      <h5>Valor actual</h5> 
      <h6>
        {% if valorActualRaw == 0 %}
        <span class="purple">{{valorActual}}</span>€
        {% elif valorActualRaw < valorCompraRaw %}
        <span class="perdida">{{valorActual}}</span>€
        {% else %}
        <span class="ganancia">{{valorActual}}</span>€
        {% endif %}
      </h6>
    </hgroup>

    

</article>
   
<button onclick="location.href='/'" type="button">Volver</button>
{%endblock%}