{% extends "base.html"%}
{%block section%}

<nav>
    <ul>
        <li><a href="/">Inicio</a></li>|
        <li><a href="/purchase">Compra</a></li>|
        <li><a href="/status">Estado</a></li>|
        <li>Cartera</li>
      </ul>
</nav>

<h4>Cartera de criptomonedas</h4>

<article>
    <div class="grid">
        <div class="wallet_box"><img class="criptologo" src="https://cryptologos.cc/logos/cardano-ada-logo.png?v=024" alt="Cardano logo"><br> <span style="font-weight: bold">Cardano</span> (ADA) <br><span class="purple_strong">{{ada}}</span></div>
        <div class="wallet_box"><img class="criptologo" src="https://seeklogo.com/images/B/binance-coin-bnb-logo-CD94CC6D31-seeklogo.com.png" alt="Binance logo"> <br> <span style="font-weight: bold">Binance</span> (BNB)<br><span class="purple_strong"> {{bnb}}</span></div>
        <div class="wallet_box"><img class="criptologo" src="https://cryptologos.cc/logos/bitcoin-btc-logo.png?v=024" alt="Bitcoin logo"> <br> <span style="font-weight: bold">Bitcoin</span> (BTC)<br><span class="purple_strong"> {{btc}}</span></div>
        <div class="wallet_box"><img class="criptologo" src="https://cryptologos.cc/logos/polkadot-new-dot-logo.png?v=024" alt="Polkadot logo"><br> <span style="font-weight: bold">Polkadot</span> (DOT)<br><span class="purple_strong"> {{dot}}</span></div>
        <div class="wallet_box"><img class="criptologo" src="https://cryptologos.cc/logos/ethereum-eth-logo.png?v=024" alt="Ethereum logo"><br> <span style="font-weight: bold">Ethereum</span> (ETH)<br><span class="purple_strong"> {{eth}}</span></div>
        <div class="wallet_box"><img class="criptologo" src="https://cryptologos.cc/logos/polygon-matic-logo.png?v=024" alt="Polygon logo"><br> <span style="font-weight: bold">Polygon</span> (MATIC)<br><span class="purple_strong"> {{matic}}</span></div>
        <div class="wallet_box"><img class="criptologo" src="https://cryptologos.cc/logos/solana-sol-logo.png?v=024" alt="Solana logo"><br> <span style="font-weight: bold">Solana</span> (SOL)<br><span class="purple_strong"> {{sol}}</span></div>
        <div class="wallet_box"><img class="criptologo" src="https://cryptologos.cc/logos/tether-usdt-logo.png?v=024" alt="Tether logo"><br> <span style="font-weight: bold">Tether</span> (USDT)<br><span class="purple_strong"> {{usdt}}</span></div>
        <div class="wallet_box"><img class="criptologo" src="https://cryptologos.cc/logos/xrp-xrp-logo.png?v=024" alt="XRP logo"><br> <span style="font-weight: bold">XRP</span> (XRP) <br><span class="purple_strong"> {{xrp}}</span></div>
    </div>
</article>

{%endblock%}