header{ 
    margin-bottom: -3em;
    margin-top: -3em;
    text-align: center;
}

.columna{
    color: var(--primary);
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48;
}

.bloque_venta {
    display: inline-block;
    width: 45%;
}

.calculadora {
    display: inline-block;
}

nav {
    margin-top: -2em;
    float: right;
}

article {padding:2em;
margin: 0.5em}

.purple {
    color: var(--primary);
}

.error {
    color: red;
    border: solid 1px red;
    text-align: center;
}

